.container {
  display: flex;
  flex-wrap: wrap;
  background: inherit;
  margin: 0px auto;
  width: 100%;
  top: 120px;
  margin-top: 0;
  position: relative;
  justify-content: center;
}

.hide {
  display: none;
}

#errormsg {
  margin: 30px auto;
  color: red;
  border: 2px solid red;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  width: 60%;
}

.new-tweet {
  width: 100%;
  display: hidden;
}

main form {
  width: 90%;
  display: flex;
  margin: 0px auto;
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.break {
  width: 100%;
  height: 0;
}

form textarea {
  display: flex;
  height: 60px;
  width: 100%;
  border: none;
  border-bottom: 5px solid black;
  margin-bottom: 10px;
  background: inherit;
  padding-bottom: 0;
}

form input {
  color: white;
  background-color: #4056a1;
  left: 0;
  border: 1px white solid;
  border-radius: 10px;
  padding: 5px 10px;
}

main h2 {
  margin-top: 0px;
}
