nav {
  position: fixed;
  height: 120px;
  width: 100%;
  z-index: 1;
  background-color: rgb(70, 187, 233);
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

nav span {
  position: relative;
}

#write {
  font-family: sans-serif;
  cursor: pointer;
}


.fa-angle-double-down {
  position: absolute;
  left: 50%;
  color: rgba(247, 247, 8, 0.817);
}

